@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');
*{
 padding: 0;
 margin: 0;
 font-family: 'inter',sans-serif;
  box-sizing: border-box;
}
html{
  background-color: #060409;
}
.centering{
  width: 100%;
  display: flex;
  justify-content: center;
}
